#if ($request ~* "/favicon.ico") {
#        return 444;
#}
if ($http_referer ~* "che0") {
        return 444;
}
if ($http_referer ~* "winvvv") {
        return 444;
}
if ($remote_addr ~* "112.14.193.2") {
        return 444;
}
if ($remote_addr ~* "60.168.244.51") {
        return 444;
}
if ($remote_addr ~* "221.0.35.144") {
        return 444;
}
if ($remote_addr ~* "111.230.175.198") {
        return 444;
}
if ($remote_addr ~* "101.132.74.114") {
        return 444;
}
